<h2>Add new post</h2>

<p>
  <form action="/New" method="post" role="form" >
    <textarea class="form-control" rows="6" name="newpost" placeholder="Type post here"></textarea>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</p>